<!-- Carousel
================================================== -->
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="container">
      <div class="carousel-caption">
        <h1>Beauty Red Spa</h1>
        <p><a id="fas" class="fa fa-facebook" href="https://www.facebook.com/BeautyRedSpa.Marrakech?fref=ts" target="_blank"></a>
        </p>
      </div>
    </div>
    <div class="item active">
      <img src="../assets/images/caroussel/image1.jpeg" style="width:100%" class="img-responsive">
    </div>
    <div class="item">
      <img src="../assets/images/caroussel/image2.jpg" class="img-responsive">
    </div>
    <div class="item">
      <img src="../assets/images/caroussel/image3.jpg" class="img-responsive">
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
</a>
<!-- /.carousel -->
