<div class="banner relative">
  <div class="category-banner category-banner1">
    <div class="container">
      <h1>Contactez-Nous</h1>
    </div>
  </div>
</div>

<div class="content">
  <!--INTRO SECTION START-->
  <div class="wrapper contact-us">
    <div class="container">

      <!-- titre -->
      <div class="header">
        <h2>Nous localiser</h2>
      </div>

      <!-- Google map -->
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1698.2218605583123!2d-8.012113999999972!3d31.649078000000035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzHCsDM4JzU2LjciTiA4wrAwMCc0My42Ilc!5e0!3m2!1sfr!2sfr!4v1426445619321" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>

      <!-- Section infos-->
      <div class="row">

        <!-- adresse -->
        <div class="span4">
          <div class="heading">
            <h3>Contact</h3>
          </div>
          <p>Boulevard Al Mouzdalifa,</p>
          <p> Entrée N°4 Immeuble 8 Ryad Arfoud, </p>
          <p><span class="color">40000 Marrakech</span></p>
        </div>

        <!-- telephone et email -->
        <div class="span4">
          <div class="heading">
            <h3>Nous joindre</h3>
          </div>
          <p><strong>Fixe:</strong> +44 (0) 1234567890</p>
          <p>+44 (0) 1234567890</p>
          <p><strong>Mobile:</strong> +44 (0) 1234567890</p>
          <p><strong>Fax:</strong> +44 (0) 1234567890</p>
          <p><strong>E-mail:</strong> first.last@gmail.com</p>
        </div>

        <!-- Les horaires -->
        <div class="span4">
          <div class="heading">
            <h3>Nos horaires</h3>
          </div>
          <p><span class="color">Monday to Friday:</span> 8:00 am to 12 :00 pm</p>
          <p><span class="color">Satuarday &amp; Sunday:</span> 8:00 am to 10 :00 pm</p>
        </div>
      </div>

    </div>
  </div>
  <!--INTRO SECTION END-->
