<div class="banner relative">

  <!-- Le texte sur l'accueil -->
  <div class="container">
    <div class="caption">
      <h1>Galerie</h1>
    </div>
  </div>
  <!-- fin texte accueil -->

  <!-- Début des images qui défilent -->
  <ul class="bxslider">

    <!-- Première image -->
    <li>
      <img src="../assets/images/galerie/Hammam1.jpg">
    </li>

    <!-- Deuxième image -->
    <li>
      <img src="../assets/images/galerie/Hammam2.jpg">
    </li>

    <!-- Troisième image -->
    <li>
      <img src="../assets/images/galerie/images.jpeg">
    </li>

    <!-- Quatrième image -->
    <li>
      <img src="../assets/images/galerie/images-1.jpeg">
    </li>

    <!-- Cinquième image -->
    <li>
      <img src="../assets/images/galerie/page4-img10.jpg">
    </li>

    <li>
      <img src="../assets/images/galerie/page4-img4.jpg">
    </li>

    <li>
      <img src="../assets/images/galerie/page4-img5.jpg">
    </li>

    <li>
      <img src="../assets/images/galerie/page4-img6.jpg">
    </li>

    <li>
      <img src="../assets/images/galerie/salledesoins.jpg">
    </li>

  </ul>
  <!-- Fin images qui défilent -->

</div>
