<!-- NAVIGUATION (début) -->
<div class="navigation">
  <div class="container">
    <div class="row">

      <!-- LOGO -->
      <div class="span3 relative">
        <div class="logo">
          <img src="../assets/images/logo.png" alt="Logo Beauty Red Spa">
        </div>

      </div>

      <!-- Bar de naviguation (début) -->
      <div class="span9">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">

              <!-- Pour l'affichage dans une fenêtre de type smartphone -->
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              <!-- La naviguation à proprement parlé (début) -->
              <div class="nav-collapse collapse">
                <ul>

                  <li><a ng-href="#/">Accueil</a></li>
                  <li><a ng-href="#/prestations">Nos Prestations</a></li>
                  <li><a ng-href="#/galeries">Galerie</a></li>
                  <li><a ng-href="#/contact">Contact</a></li>
                </ul>
              </div>
              <!-- La naviguation à proprement parlé (fin) -->

            </div>
          </div>
        </div>
      </div>
      <!-- Bar de naviguation (fin) -->

    </div>
  </div>
</div>
<!-- NAVIGUATION (fin) -->
