<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/#top" du-smooth-scroll duration="1000">
        <img alt="Brand" src="assets/images/logo_miniature.png">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ng-href="#/#description" du-smooth-scroll duration="1000">Description</a></li>
        <li><a ng-href="#/#prestations" du-smooth-scroll duration="1000">Nos prestations</a></li>
        <li><a ng-href="#/#map" du-smooth-scroll duration="1000">Nous trouver</a></li>
        <li><a ng-href="#/#contact" du-smooth-scroll duration="1000">Contact</a></li>
      </ul>
    </div>

  </div>
</div>

<!-- Carousel -->
<slider slideit="images"></slider>


