<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse">

      <div class="navbar-header">
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand" href="#">Beauty Red Spa</a>

      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/">Home</a></li>
          <li><a ng-href="#/#description" du-smooth-scroll duration="1000">Description</a></li>
          <li><a ng-href="#/#prestations" du-smooth-scroll duration="1000">Nos prestations</a></li>
          <li><a ng-href="#/#map" du-smooth-scroll duration="1000">Nous trouver</a></li>
          <li><a ng-href="#/#contact" du-smooth-scroll duration="1000">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="fas" class="fa fa-facebook" href="https://www.facebook.com/BeautyRedSpa.Marrakech?fref=ts" target="_blank"></a></li>
        </ul>
      </div>

    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->
