<!-- Ce qu'on voit sur la page quand on arrive (début)-->
<div class="banner relative">

  <!-- Le texte sur l'accueil -->
  <div class="container">
    <div class="caption">
      <h1>An exhaustive resource of <small>spa treatments.</small></h1>
      <h2>Simple, Fast  &amp; Secure</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tellus orci, semper et ornare vestibulum dictum, varius ut tellus. In consectetur, velit vel interdum fringilla, felis justo vestibulum scelerisque urna..</p>
    </div>
  </div>
  <!-- fin texte accueil -->

  <!-- Début des images qui défilent -->
  <ul class="bxslider">

    <!-- Première image -->
    <li>
      <img src="images/banner1.jpg">
    </li>

    <!-- Deuxième image -->
    <li>
      <img src="images/banner2.jpg">
    </li>

    <!-- Troisième image -->
    <li>
      <img src="images/banner3.jpg">
    </li>

    <!-- Quatrième image -->
    <li>
      <img src="images/banner4.jpg">
    </li>

    <!-- Cinquième image -->
    <li>
      <img src="images/banner5.jpg">
    </li>

  </ul>
  <!-- Fin images qui défilent -->

  <!--SUPPORT START-->
  <div class="call-us">
    <div class="support resize">
      <h5>CUSTOMER SUPPORT</h5>
      <p>+39-0973-645724</p>
    </div>
    <div class="social resize">
      <ul>
        <li><a href="#" class="fb"></a></li>
        <li><a href="#" class="skype"></a></li>
        <li><a href="#" class="linkedin"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li><a href="#" class="flickr"></a></li>
        <li><a href="#" class="rss"></a></li>
        <li><a href="#" class="heart"></a></li>
      </ul>
    </div>
  </div>
  <!--SUPPORT END-->

</div>
<!-- Ce qu'on voit sur la page quand on arrive (fin)-->

<div class="content">

  <!-- L'intro -->
  <div class="wrapper bg">
    <div class="container">
      <div class="about">
        <h2>Beauty Red Spa</h2>
        <p class="pink">Beauty Red c'est l'adresse de la beauté, de la détente et du bien-être au coeur de Marrakech.</p>
        <p>
          Prendre soin de vous est une passion commune partagée par toute l'équipe, dévouée et formée dans les meilleures écoles.
          Venez découvrir la nouvelle gamme de nos soins de corps, visage et cheveux.
          Produits garantis 100% Bio, sans Paraben et sans Alcool pour votre bien être au quotidien.
        </p>
      </div>
    </div>
  </div><!-- fin intro -->

  <!-- News -->
  <div class="wrapper bg">
    <div class="container">
      <div class="about">
        <h2>News</h2>
        <p class="pink">Tu mets ce que tu veux.</p>
        <p>
          Tu met ce que tu veux.
        </p>
      </div>
    </div>
  </div><!-- fin news -->

  <!--LOVE IT START-->
  <div class="wrapper love-it">
    <div class="container">
      <div class="header">
        <h3>Love it?</h3>
        <h2>HEART IT.</h2>
      </div>
      <div class="row">
        <div class="span3">
          <div class="love-it-thumb">
            <a href="#"><img src="images/thumb1.png"></a>
            <div class="price">
              <p>$555.50</p>
            </div>
            <div class="basket-options">
              <ul>
                <li><a href="#" class="basket" data-toggle="tooltip" title="Basket"></a></li>
                <li><a href="#" class="like" data-toggle="tooltip" title="Like"></a></li>
                <li><a href="#" class="arrows" data-toggle="tooltip" title="Arrows"></a></li>
                <li><a href="#" class="time" data-toggle="tooltip" title="time"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="love-it-thumb">
            <a href="#"><img src="images/thumb2.png"></a>
            <div class="price">
              <p>$555.50</p>
            </div>
            <div class="basket-options">
              <ul>
                <li><a href="#" class="basket" data-toggle="tooltip" title="Basket"></a></li>
                <li><a href="#" class="like" data-toggle="tooltip" title="Like"></a></li>
                <li><a href="#" class="arrows" data-toggle="tooltip" title="Arrows"></a></li>
                <li><a href="#" class="time" data-toggle="tooltip" title="time"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="love-it-thumb">
            <a href="#"><img src="images/thumb3.png"></a>
            <div class="price">
              <p>$555.50</p>
            </div>
            <div class="basket-options">
              <ul>
                <li><a href="#" class="basket" data-toggle="tooltip" title="Basket"></a></li>
                <li><a href="#" class="like" data-toggle="tooltip" title="Like"></a></li>
                <li><a href="#" class="arrows" data-toggle="tooltip" title="Arrows"></a></li>
                <li><a href="#" class="time" data-toggle="tooltip" title="time"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="love-it-thumb">
            <a href="#"><img src="images/thumb4.png"></a>
            <div class="price">
              <p>$555.50</p>
            </div>
            <div class="basket-options">
              <ul>
                <li><a href="#" class="basket" data-toggle="tooltip" title="Basket"></a></li>
                <li><a href="#" class="like" data-toggle="tooltip" title="Like"></a></li>
                <li><a href="#" class="arrows" data-toggle="tooltip" title="Arrows"></a></li>
                <li><a href="#" class="time" data-toggle="tooltip" title="time"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--LOVE IT END-->
</div> <!-- fin content -->
