<!-- Three columns of text below the carousel -->
<div id="description"class="row">
  <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center">
    <h2>Beauty Red c'est l'adresse de la beauté, de la détente et du bien-être au coeur de Marrakech.</h2>
    <p>Prendre soin de vous est une passion commune partagée par toute l'équipe, dévouée et formée dans les meilleures écoles. Venez découvrir la nouvelle gamme de nos soins de corps, visage et cheveux. Produits garantis 100% Bio, sans Paraben et sans Alcool pour votre bien être au quotidien.</p>
    <p class="pull-right"><a href="#/#top" du-smooth-scroll duration="1000">Revenir en haut</a></p>
  </div>
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div id="prestations">
  <h2 class="featurette-heading">Nos prestations</h2>
  <div class="featurette row">
    <img class="featurette-image img-circle pull-left col-xs-12 col-sm-6 col-md-6 col-lg-6" src="../assets/images/prestations/coiffure.jpeg">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2 class="featurette-heading">Coiffure</h2>
      <ul class="lead">
        <li>Coupe Femme / Homme</li>
        <li>Brushing</li>
        <li>Touching</li>
        <li>Coloration</li>
        <li>Balayage</li>
        <li>Chignons</li>
        <li>Maquillage</li>
        <li>Faux Cils</li>
      </ul>
    </div>
  </div>

  <div class="featurette row">
    <img class="featurette-image img-circle pull-right col-xs-12 col-sm-6 col-md-6 col-lg-6" src="../assets/images/prestations/epilation.jpg">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2 class="featurette-heading">Epilation</h2>
      <ul class="lead col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <li>Duvet</li>
        <li>Menton</li>
        <li>Sourcil</li>
        <li>Visage</li>
        <li>Aisselles</li>
        <li>1/2 Bras</li>
        <li>Bras</li>
        <li>Maillot</li>
        <li>1/2 Jambes</li>
        <li>Jambes</li>
      </ul>
      <ul class="lead col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <li>Epilation complète</li>
        <li>Pose vernis</li>
        <li>Pose vernis longue durée</li>
        <li>Pose vernis permanente</li>
        <li>Pose faux ongles</li>
        <li>Manucure</li>
        <li>Pédicure</li>
        <li>Hammam</li>
        <li>Massage</li>
        <li>Soin de visage</li>
      </ul>
    </div>
    <p class="pull-right"><a href="#/#top" du-smooth-scroll duration="1000">Revenir en haut</a></p>
  </div>
</div>

<hr class="featurette-divider">

<div id="map">
  <!-- Google map -->
  <h2 class="featurette-heading">Nous trouver.</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1698.2218605583123!2d-8.012113999999972!3d31.649078000000035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzHCsDM4JzU2LjciTiA4wrAwMCc0My42Ilc!5e0!3m2!1sfr!2sfr!4v1426445619321" width="600" height="450" frameborder="0" style="border:0"></iframe>
  <p class="pull-right"><a href="#/#top" du-smooth-scroll duration="1000">Revenir en haut</a></p>
</div>

<hr class="featurette-divider">

<div id="contact" class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h2>Adresse</h2>
    <p> <span class="fa fa-map-marker"></span>Boulevard Al Mouzdalifa,</p>
    <p>Entrée N°4 Immeuble 8 Ryad Arfoud,</p>
    <p>40000 Marrakech</p>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h2>Nous joindre</h2>
    <ul>
      <li class="fa fa-phone">+212661964527</li>
      <li class="fa fa-envelope"><a ng-href="mailto:beautyred.marrakech@gmail.com">beautyred.marrakech@gmail.com</a></li>
    </ul>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h2>Nos horaires</h2>
    <p><strong>Mardi au Dimanche : </strong>10h - 23h</p>
    <p class="pull-right"><a href="#/#top" du-smooth-scroll duration="1000">Revenir en haut</a></p>
  </div>

</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->


<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#/#top" du-smooth-scroll duration="1000">Revenir en haut</a></p>
  <p>Designed by <a href="http://resume.guiggle.com/#/" target="_blank">Guillaume Rahbari</a></p>
</footer>
