<!-- Three columns of text below the carousel -->
<div id="description"class="row">
  <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center">
    <h2>Beauty Red c'est l'adresse de la beauté, de la détente et du bien-être au coeur de Marrakech.</h2>
    <p>Prendre soin de vous est une passion commune partagée par toute l'équipe, dévouée et formée dans les meilleures écoles. Venez découvrir la nouvelle gamme de nos soins de corps, visage et cheveux. Produits garantis 100% Bio, sans Paraben et sans Alcool pour votre bien être au quotidien.</p>
  </div>
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image img-circle pull-right" src="http://placehold.it/512">
  <h2 class="featurette-heading">Responsive Design. <span class="text-muted">It'll blow your mind.</span></h2>
  <p class="lead">In simple terms, a responsive web design figures out what resolution of device it's being served on. Flexible grids then size correctly to fit the screen.</p>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image img-circle pull-left" src="http://placehold.it/512">
  <h2 class="featurette-heading">Smaller Footprint. <span class="text-muted">Lightweight.</span></h2>
  <p class="lead">The new Bootstrap 3 promises to be a smaller build. The separate Bootstrap base and responsive.css files have now been merged into one. There is no more fixed grid, only fluid.</p>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image img-circle pull-right" src="http://placehold.it/512">
  <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Flatness.</span></h2>
  <p class="lead">A big design trend for 2013 is "flat" design. Gone are the days of excessive gradients and shadows. Designers are producing cleaner flat designs, and Bootstrap 3 takes advantage of this minimalist trend.</p>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->


<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>This Bootstrap layout is compliments of Bootply. · <a href="http://www.bootply.com/62603">Edit on Bootply.com</a></p>
</footer>
