<div class="banner relative">
  <div class="category-banner category-banner1">
    <div class="container">
      <h1>Nos Prestations</h1>
    </div>
  </div>
</div>

<div class="content">
  <!--PRODUCTS START-->
  <div class="wrapper products-page">
    <div class="container">
      <div class="row">
        <div class="span9">
          <!--PRODUCT INFO START-->
          <div class="product-info">
            <div class="heading">
              <h2>Coiffure</h2>
            </div>
            <div class="product-data">
              <div class="thumb">
                <div class="main-thumb">
                  <img src="../assets/images/prestations/coiffure.jpeg" alt="">
                </div>
              </div>
              <div class="detail">
                <div class="text">
                  <p>Coupe Femme / Homme</p>
                  <p>Brushing</p>
                  <p>Touching</p>
                  <p>Coloration</p>
                  <p>Balayage</p>
                  <p>Chignons</p>
                  <p>Maquillage</p>
                  <p>Faux Cils</p>
                </div>

              </div>
            </div>
          </div>

          <div class="product-info">
            <div class="heading">
              <h2>Epilation</h2>
            </div>
            <div class="product-data">
              <div class="thumb">
                <div class="main-thumb">
                  <img src="../assets/images/prestations/epilation.jpg" alt="">
                </div>
              </div>
              <div class="detail">
                <div class="text">
                  <p>Duvet</p>
                  <p>Menton</p>
                  <p>Sourcil</p>
                  <p>Visage</p>
                  <p>Aisselles</p>
                  <p>1/2 Bras</p>
                  <p>Bras</p>
                  <p>Maillot</p>
                  <p>1/2 Jambes</p>
                  <p>Jambes</p>
                  <p>Epilation complète</p>
                  <p>Pose vernis</p>
                  <p>Pose vernis longue durée</p>
                  <p>Pose vernis permanente</p>
                  <p>Pose faux ongles</p>
                  <p>Manucure</p>
                  <p>Pédicure</p>
                  <p>Hammam</p>
                  <p>Massage</p>
                  <p>Soin de visage</p>
                </div>

              </div>
            </div>
          </div>
          <!--PRODUCT INFO END-->
        </div>
      </div>
    </div>
  </div>
  <!--PRODUCTS END-->
</div>
